*{
  margin:0;
  padding:0;
}
.nav{
  margin:0 auto;
}
.nav li{
  padding:10px 20px;
  cursor: pointer;
  margin-top:20px;
  margin-bottom:20px;
  transition:.5s;

}
.nav li:hover{
  /* background:#c69200; */
  color:#fff;
}
.nav li:hover a{
  color:#fff;
}
.nav li a{
  text-decoration: none;
}
.item{
  margin-top:30px;
  
}
.active{
  background:#c69200;
  transition:.5s;
  border-radius:8px;

}
